#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 400px;
  margin: auto;
}

#display {
  grid-column: span 4;
  background-color: #e0e0e0;
  text-align: right;
  padding: 20px;
  font-size: 2em;
}

button {
  font-size: 1.5em;
  padding: 20px;
}

.operation-button {
  background-color: #f9a825;
}

.number-button, .decimal-button {
  background-color: #cfd8dc;
}

.clear-button, .backspace-button {
  background-color: #ef5350;
}
